@import 'animations';

body {
    height: auto;
}


/*********************** SECTION BANIERE ACCUEIL******************/


.banner {
    position: relative;
    min-height: 59vw;
    display: flex;
    justify-content: center;
    align-items: center;
    animation: fade-in-img 2s;
    background-size: contain;
    background-repeat: no-repeat;

    & img {
        z-index: 1;
        position: absolute;
        animation: float 5s cubic-bezier(0.43, 0.08, 0.61, 0.99) infinite, fade-in 2s; //aninamation float + fade-in dans les animations regroupé

        @media screen and (max-width:1100) {
            top: 140px !important;

        }
    }
}

.banner-video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    object-fit: cover;
    z-index: 0;
    object-fit: contain;

    @media screen and (max-width:575px) {
        display: none;
    }

}

/*********************** SECTION HISTOIRE ***********************/
section.story {
    overflow: hidden;
}

//tige fleur de gauche
h2::before {
    animation: animate-story-left-stem 2s;
}

//pétales fleur de gauche
.story h2::after {
    animation: animate-story-left-flower 2s, rotate-flower 10s linear infinite;
}

//tige fleur de droite on retrouve l'animation dans les animations regroupées
.story__article::before {
    top: 11.6em;
    z-index: 1;
}

// pétales fleur de droite
.story__article::after {
    z-index: 2;
    top: 5em;
    animation: animate-story-right-flower 2s, rotate-flower 10s linear infinite;
}

/* *************** SECTION PERSONNAGES ************************ */

figure {
    & img {
        padding-top: 50px;
        max-width: none;

        @media screen and (max-width: 1100px) {
            width: 300px;
        }

        @media screen and (max-width:700px) {
            width: 200px;
        }

    }
}



/**************** SECTION LE LIEUX *************************/

.story {
    & #place {
        flex-direction: column;
        justify-content: space-evenly;
        background-image: url("../assets/images/Studio_Koukaki-image_place.png") !important;
        background-repeat: no-repeat;
        animation: fade-in-background 2s;

        &>div {
            @media screen and (max-width:920px) {
                margin: 0;
            }
        }

        & .clouds {
            position: relative;
            max-width: none;
            align-items: end;
            filter: blur(10px);
        }
    }
}

.big-cloud {
    top: -25px;
    right: 50px;
    position: absolute;

    @media screen and (max-width:920px) {
        right: -170px;
    }
}

.little-cloud {
    right: 400px;
    top: 80px;
    position: absolute;

    @media screen and (max-width:920px) {
        right: 160px;
    }
}

@media screen and (max-width:550px) {

    .big-cloud,
    .little-cloud {
        display: none;
    }
}

/******************** SECTION STUDIO KOUKAKI ****************/
#studio {
    overflow: hidden;

    & h2 {
        @media screen and (max-width:700px) {

            font-size: 2.2em;
        }
    }
}

#studio h2::before {
    animation: animate-studio-flower-left 2s, rotate-flower 10s linear infinite;

}

#studio h2::after {
    animation: animate-studio-flower-right 2s, rotate-flower 10s linear infinite;
}

/**************** SECTION OSCAR ************************/

.section__oscar {
    position: relative;
    padding-top: 5em;
    font-family: "Quicksand", sans-serif;
    width: 100%;
    margin: auto;
    height: auto;
    display: flex;
    justify-content: center;



    & p {
        margin-top: 60px;
        padding: 45px 0 0 86px;
        width: 758px;
        height: 274px;
        background-size: cover;
        background-image: url(../assets/images/background-oscar.png);
        background-repeat: no-repeat;
        color: #FFF5E9;
        text-align: left;
        font-size: 40px;
        letter-spacing: -2px;
        text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    }

    & img {
        object-fit: contain;
        animation: fade-in 2s;
    }

    & p::before {
        content: url(../../foce/assets/images/Sunflower.png);
        position: absolute;
        left: 4em;
        top: 0em;
        animation: animate-studio-flower-left 2s, rotate-flower 10s linear infinite; //meme animaion que la section studio pour l'effet de fade-in
    }
}


@media screen and (max-width: 1100px) {
    .nomination_oscar {
        padding-bottom: 10%;
        width: 80%;
        margin: auto;
    }

    .section__oscar {
        flex-direction: column;
        align-items: center;

        & p {
            width: 575px;
            background-size: contain;
            font-size: 32px;
            padding: 32px 0 0 66px;

            @media screen and (max-width:575px) {
                width: 375px;
                font-size: 23px;
                padding: 18px 0px 0px 42px;
                height: 151px;
            }
        }

        & img {
            width: 45%;
            font-size: 32px;
        }
    }
}

/******************* SECTION FOOTER ***********************/
.site-footer::before {
    display: none;
}

.site-footer::after,
.site-footer ul::after {
    animation: rotate-flower 10s linear infinite;
}

/********************* ANIMATION EFFET FADE-IN ********************/
// EFFET FADE-IN GENERALE
// section histoire tige de droite, section personnages, section studio feuille, section footer
article::before,
div::before,
.clouds,
//figure,
footer {
    animation: fade-in 2s;
}

/******************** ANIMATION TITRES **************/
.word-animation {
    position: relative;
    opacity: 0;
    transition: all 0.3s;
}

.animate-title .word-animation {
    opacity: 0;
    animation: animate-title 1s forwards;
}

/* *************************** MENU BURGER ********************** */
#masthead {
    overflow: hidden;
}

.menu-toggle {
    display: block;
}

.main-navigation.toggled ul {
    display: flex;
}

#site-navigation {
    height: auto;

    & div {
        display: flex;
        padding: 1em 0;
        align-items: center;

        & .site-title {
            width: 100%;
            text-align: center;
            padding-left: 21%;
        }

        & .menu-toggle {
            width: 30%;
        }

        @media screen and (min-width: 700px) {
            .main-navigation {
                height: auto;
            }
        }
    }

    & .menu {
        padding: 0;
        position: relative;
        height: 0;
        overflow: hidden;
        transition: height 2s ease;

        &.open {
            height: 90vh;
        }

        &>img {
            animation: rotate-flower linear 15s infinite;
        }

        & .orchid {
            position: absolute;
            left: -56px;
            bottom: 75%;

        }

        & .Sunflower {
            position: absolute;
            right: 12em;
            bottom: 70%;

            @media screen and (max-width:700px) {
                right: 3em;
            }

            @media screen and (max-width:500px) {
                display: none;
            }
        }

        & .flower {
            position: absolute;
            left: 8em;
            bottom: 42%;
            scale: 0.6;

            @media screen and (max-width:700px) {
                left: 2em;
            }

            @media screen and (max-width:500px) {
                display: none;
            }
        }

        & .random_flower {
            position: absolute;
            scale: 0.4;
            right: -6.5em;
            bottom: 50%;
        }

        & .hibiscus {
            position: absolute;
            bottom: -6em;
            right: -6em;
            scale: 1.8;
        }

        & img.float {
            animation: float 5s cubic-bezier(0.43, 0.08, 0.61, 0.99) infinite;
        }

        & .cat_purple {
            position: absolute;
            left: 200px;
            bottom: 65%;
            scale: 0.8;

            @media screen and (max-width:900px) {
                display: none;
            }
        }

        & .cat_orang {
            position: absolute;
            bottom: 75px;
            left: 55px;
            scale: 0.9;
        }

        & .cat_black {
            position: absolute;
            bottom: 38%;
            right: 145px;
            scale: 0.9;

            @media screen and (max-width:700px) {
                display: none;
            }
        }
    }

    & li {
        font-size: 4em;
        animation: animate-title 2s forwards;


        & a:hover {
            text-shadow: 0px 2px 12px #FF5C00;
            color: #000;
        }
    }

    & p {
        padding: 9em 5em 1em 5em;
        position: relative;
        z-index: 1;

        & :hover {
            text-shadow: 0px 2px 4px #FF5C00;
            color: #000;
        }
    }
}


#site-navigation .toggled {
    text-align: center;
}

.main-navigation {
    & .menu {
        display: flex;
        flex-direction: column;
        background: #FFF5E9;

        & ul {
            z-index: 2;
            flex-direction: column;
            gap: 20px;
            height: auto;
        }
    }
}

.menu-toggle.cross .line:nth-child(1) {
    transform: rotate(-45deg) translate(1px, 6px);
}

.menu-toggle.cross .line:nth-child(2) {
    opacity: 0;
}

.menu-toggle.cross .line:nth-child(3) {
    transform: rotate(45deg) translate(-1px, -8px);
}

@media screen and (max-width: 700px) {
    #site-navigation p {
        padding-top: 4em;
    }

    #site-navigation li {
        font-size: 3em;
    }
}